<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">    

    <bean id="fileUserDAO" class="ohtu.data_access.FileUserDAO">
        <constructor-arg type="java.lang.String" value="src/main/resources/usernames.txt" />
        <constructor-arg type="java.lang.String" value="src/main/resources/passwords.txt" />
    </bean>
    
    <bean id="authenticationService" class="ohtu.services.AuthenticationService">
        <constructor-arg ref="fileUserDAO" />
    </bean>
    
    <bean id="consoleIO" class="ohtu.io.ConsoleIO">
    </bean>
    
    <bean id="app" class="ohtu.App">
        <constructor-arg ref="consoleIO" />
        <constructor-arg ref="authenticationService" />
    </bean>
        
</beans>